<div class="pt-4 pb-1 px-4 w-full flex border-b">
    <a href="{{ .RelPermalink }}">
        <div class="pr-3">
            {{ $avatar := resources.Get "images/avatar.jpg" }}
            <image src="{{ $avatar.Permalink }}" class="w-12 h-12 rounded-full" />
        </div>
    </a>
    <a href="{{ .RelPermalink }}">
        <div class="flex-1 flex flex-col">
            <div>
                <span class="font-bold">STRRL</span>
                <span class="text-gray-500">·</span>
                <span class="text-gray-500 relative-date">{{dateFormat "2006/01/02 15:04" .PublishDate}}</span>
            </div>
            <div>
                <article>
                    {{ .Title }}
                </article>
                <br>
                <article>
                    {{ .Summary -}}
                    {{- if .Truncated -}}
                    <span><a>...</a></span>
                    <span>
                        <a class="text-link text-blue-500" href="{{ .RelPermalink }}">显示更多</a>
                    </span>
                    {{ end }}
                </article>
            </div>
    </a>
    <div class="flex justify-between max-w-[425px]" onclick="">
        <div class="flex justify-center group" onclick="console.log(1)">
            <div
                class="w-9 h-9 flex flex flex-wrap justify-center content-center rounded-full group-hover:bg-blue-100 group-hover:text-blue-600">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 011.037-.443 48.282 48.282 0 005.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
                </svg>
            </div>

            <div class="hidden flex flex-wrap content-center px-1">
                <span class="text-sm group-hover:text-blue-600">5</span>
            </div>
        </div>
        <div class="flex justify-center group" onclick="">
            <div
                class="w-9 h-9 flex flex flex-wrap justify-center content-center rounded-full group-hover:bg-red-100 group-hover:text-red-600">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                </svg>
            </div>

            <div class="hidden flex flex-wrap content-center px-1">
                <span class="text-sm group-hover:text-red-600">5</span>
            </div>
        </div>
        <div class="flex justify-center group" onclick="">
            <div
                class="w-9 h-9 flex flex flex-wrap justify-center content-center rounded-full group-hover:bg-blue-100 group-hover:text-blue-600">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M7.217 10.907a2.25 2.25 0 100 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186l9.566-5.314m-9.566 7.5l9.566 5.314m0 0a2.25 2.25 0 103.935 2.186 2.25 2.25 0 00-3.935-2.186zm0-12.814a2.25 2.25 0 103.933-2.185 2.25 2.25 0 00-3.933 2.185z" />
                </svg>
            </div>

            <div class="hidden flex flex-wrap content-center px-1">
                <span class="text-sm group-hover:text-blue-600">5</span>
            </div>
        </div>
    </div>
</div>
</div>
<div>
    <!-- {{ . | jsonify}} -->
</div>
